{% extends 'emails/_base.html.twig' %}

{% block title %}Confirmation de votre message{% endblock %}

{% block content %}
    <h2 style="font-size: 20px; color: #FF6B00; margin-top: 0;">Merci de nous avoir contactés !</h2>
    <p>Bonjour {{ name }},</p>
    <p>Nous avons bien reçu votre message et nous vous remercions de l'intérêt que vous portez à Quernel Auto. Notre équipe va l'étudier attentivement et reviendra vers vous dans les plus brefs délais.</p>
    <p><strong>Rappel de votre message :</strong></p>
    <div style="border-left: 3px solid #FF6B00; padding-left: 15px; margin-left: 5px; color: #555555;">
        <p><em>{{ message|nl2br }}</em></p>
    </div>
    <p style="margin-top: 25px;">Cordialement,</p>
    <p><strong>L'équipe Quernel Auto</strong></p>
{% endblock %} 