{% extends 'base.html.twig' %}

{% block title %}Erreur serveur - Quernel Auto{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}
    <div class="error-page-container">
        <div class="error-content error-500">
            <div class="error-animation">
                <div class="error-icon">
                    <i class="fas fa-server"></i>
                </div>
                <div class="error-code">500</div>
            </div>
            
            <div class="error-message">
                <h1 class="error-title">Erreur serveur</h1>
                
                <p class="error-description">
                    Oups ! Notre serveur semble avoir des difficultés techniques. 
                    Nos mécaniciens du web sont déjà sur le coup !
                </p>
            </div>
            
            <div class="error-actions">
                <a href="{{ path('app_home') }}" class="btn btn-primary">
                    <i class="fas fa-home"></i>
                    Retour à l'accueil
                </a>
                <a href="{{ path('app_contact') }}" class="btn btn-secondary">
                    <i class="fas fa-phone"></i>
                    Nous appeler
                </a>
            </div>
            
            <div class="error-suggestions">
                <h3>En attendant la réparation :</h3>
                <ul>
                    <li><i class="fas fa-sync"></i> Actualisez la page dans quelques instants</li>
                    <li><i class="fas fa-history"></i> Utilisez le bouton retour de votre navigateur</li>
                    <li><i class="fas fa-car"></i> Explorez notre catalogue hors ligne</li>
                    <li><i class="fas fa-phone-alt"></i> Appelez-nous au +33 1 23 45 67 89</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %} 